<div class='atlasmapImport' >
    <button type="button" class="btn btn-primary" (click)="handleClick()"> cat</button>
<!-- 
  <nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <strong>AtlasMap</strong> Data Mapper UI</a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
      <ul class="nav navbar-nav navbar-utility">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-import"></span> Import
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <label for="userjsonfile" class="btn">Schema Document (JSON)</label>
                <input type="file" accept=".json" style="display:none" name="userjsonfile" size="40"
                  id="userjsonfile"
                  (click)="handleClick()"
                  (change)="rat('json')">
	          </a>
            </li>
            <li>
              <a href="#">
                <label for="userxmlfile" class="btn">Instance Document (XML)</label>
		        <input type="file" accept=".xml" style="display:none" name="userxmlfile" size="40"
		          id="userxmlfile"
		          (click)="handleClick()"
		          (change)="rat('xml')">
	          </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-export"></span> Export
            <b class="caret"></b>
	      </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">
                <label for="userdir" class="btn">Select an export directory/ folder.</label>
                <input type="file" style="display:none" name="userdir" size="40" id="userdir" onChange='exportToDir()' onClick='exportOnClick()'
                  webkitdirectory directory multiple/>
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-user"></span>User
            <b class="caret"></b>
          </a>
        </li>
      </ul>
    </div>
  </nav>
-->
 </div>
